BODY {
        background-color: #FFFFFF;
        background-image: url('../images/tapiz_sdh.jpg');
}
.oculto{
    display:none;
}
.cuerpo {
    width:1024px;
    border-width:0;
    cellspacing:0; 
    cellpadding:0;
    margin-left:auto;
    margin-right:auto;
    text-align:left
}
table {
	background-color: #ffffff
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
	margin-top: 1px;
	margin-bottom: 1px
}
/*a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin-top: 1px; margin-bottom: 1px; text-decoration: underline}*/
.enlacesub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
	margin-top: 1px;
	margin-bottom: 1px
}
.enlacesubgris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
	margin-top: 1px;
	margin-bottom: 1px
}
.enlacerojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
	margin-top: 1px;
	margin-bottom: 1px
}
.bold10_gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.bold10_blanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.bold11_blanco {
	background-color:#CE141D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.bold10_negro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.tituloDest {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.bold10_rojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.textoblanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.textonegro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.texto_promo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color:#900;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.texto_feria {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:700;
	color:#333;
	text-decoration: none;
	line-height:20px;
}
.texto_detalle {
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: justify;
	line-height: 1.5em;
}
.precio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.texto2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.autor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
.titulo_msn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px;
	font-style : normal;
}
.titulo_cat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #990000;
	font-weight: normal;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px;
	font-style : normal;
}
.titulo_cat_1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style : normal;
	padding:0 0 0 0;
}
.novedades {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #990000;
	font-weight: normal;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px;
	font-style : normal;
}
.path {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	margin-top: 1px;
	margin-bottom: 1px
}
INPUT.fondo {
	BORDER-RIGHT: #CCCCCC 1px groove;
	BORDER-TOP: #CCCCCC 1px groove;
	FONT-SIZE: xx-small;
	BACKGROUND: #FFFFFF;
	BORDER-LEFT: #CCCCCC 1px groove;
	COLOR: black;
	BORDER-BOTTOM: #CCCCCC 1px groove;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
        font-weight: bold;
}
.pulldown {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #990000;
text-decoration: none;
}

#contenedor_detalle{
	width:460px;
	height:560px;
}
#tipo_libro_detalle{
	position:relative;
	left:10px;
}
.tipo_libro_detalle{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	/*rgba(0,0,0,1);*/
	font-weight:600;
}
#imagen_detalle{
	position:relative;
	width:122px;
	height:189px;
	text-align:center;
	margin-top:15px;
	margin-left:10px;
	float:left;
}
#imagen_detalle img{
	display:block;
	margin:auto;
	width:122px;
	height:189px;
}
.texto_bajo_imagen{
	text-decoration:none;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#900;
}
#datos_detalle{
	width:300px;
	float:right;
}
.titulo_detalle{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	/*rgba(0,0,0,1);*/
	font-weight:700;
	text-align:justify;
	top:20px;
}
.precio_detalle{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#990000;
	font-weight:700;
	text-align:justify;
	top:20px;
}
.datos_detalle{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
	text-align:justify;
}
#resumen_detalle{
	position:relative;
	clear:both;
	top:10px;
	width:440px;
	height:200px;
	display:none;
}
#descripcion_detalle{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:18px;
	text-align:justify;
	color:#333333;
	padding:20px 10px;
}
#otros_datos_detalle{
	position:relative;
	clear:both;
	top:15px;
	width:140px;
	cursor:pointer;
}
/*
.popup{
	background:url(../images/white_arrow_big.png) no-repeat;
	position:absolute;
	display:none;
	width:300px;
	height:175px;
	margin-top:210px;
	margin-left:-13px;
}
*/
.datos_detalle_1{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
	font-weight:600;
	text-align:justify;
	left:10px;
	border:solid thin #FFF;
}
.otros_datos_detalle{
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333333;
	text-align:justify;
	top:30px;
	left:30px;
}
#cantidad_compra_detalle{
	position:absolute;
	width:180px;
	margin-left:260px;
	border:solid thin #FFF;
}
#cantidad_compra_detalle p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:700;
}
#cantidad_compra_detalle input{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:center;
}
#img_comprar{
	position:relative;
	top:-15px;
	cursor:pointer;
}
.texto_ebook{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	text-align:justify;
	color:#333333;
}
#img_que_es_ebook{
	margin-left:130px;
}
.itemmyacount{
    width:300px;
    padding:10px;
}

#busquedaAvanzada{
    width:1000px !important;
}
.resaltado {
    background: pink;
}

/*TITULOS*/
.titulos{
    width:960px;
    font-size: 11px;
    border-color: #999;
    border-width: 1px;
    border-style:solid;
    background: #dedede;
    padding:0 5px 0 10px;
    border-radius: 0.3em;
}

.libro{
    float:left;
    border-color:#ccc;
    border-style:solid;
    border-width:0;
    border-radius: 0,3em;  
    -moz-border-radius:1em;  
    -webkit-border-radius:1em;
    background-color: #ddc;
    margin: 3px;
    padding: 3px;
    width: 190px;
    height: 320px;
    max-height: 320px;
    overflow:auto;
    overflow-x:hidden;


}

.libro .contenedorimagen{
    margin: 0px auto;
    background:url("../images/nohay.gif");
    max-width: 90px;
    max-height: 140px;  
    width: 90px;
    height: 140px; 
}

.libro .titulo{
    color: #990000;
    font-size: 12px;
    font-weight:  bold;
}

.libro .isbn{
    display:none;
}

.libro .autores{
    margin: 5px 0 0  0;
    font-size:10px;
    font-color:#666;
    
}


.libro .editoriales{
    font-size: 10px;
    margin: 10px 0 0 0;
}

.libro .anyo{
    display:none;
    margin: 10px 0 0 0;
    font-size: 10px;
}

.libro .precio{
    font-size: 12px;
    font-weight:  normal;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0 ;
}

.libro  .formatos{
    float:right;
    margin:0;
        
}

.libro .formatos img{
    
    margin: 5px;

}

/* FIN TITULOS */


/* LIBROS DETALLE */

.libro_detalle{
    float:left;
    border-color:#bbb;
    border-style:solid;
    border-width:2px;
    border-radius: 1em;  
    -moz-border-radius:1em;  
    -webkit-border-radius:1em;
    background-color: #fff;
    margin: 5px;
    padding: 15px;
    width: 700px;
    height: 400px;
    max-height: 400px;
    overflow:auto;

}

.libro_detalle .contenedorimagen{
    float:left;
    background:url("../images/nohay.gif");
    max-width: 200px;
    max-height: 300px;  
    width: 200px;
    height: 300px;
    border-radius: 0.5em;
    text-align:  center; 
    top: 50%;
    margin: 0 20px 0 0;
}

.libro_detalle .contenedorimagen img{
    padding:10px;
    border-radius: 0.5em;
    width: 180px;
  /*  height: 280px;*/
    
}

.libro_detalle .titulo{
    color: #990000;
    font-size: 16px;
    font-weight:  bold;
    margin: 20  px 0 0 0;
}

.libro_detalle .isbn{
    color: #333;
    font-size: 12px;
    font-weight:  bold;
    margin: 20px 0 0 0;
}

.libro_detalle .autores{
    margin: 5px 0 0  0;
    font-size:12px;
    font-color:#666;
    
}


.libro_detalle .editoriales{
    font-size: 11px;
    margin: 5   px 0 0 0;
}

.libro_detalle .anyo{
    margin: 5px 0 0 0;
    font-size: 12px;
}

.libro_detalle .precio{
    font-size: 12px;
    font-weight:  normal;
    list-style-type: none;
    padding: 10px 0 0 0;;
    margin: 0 0 0 5px;
}

.libro_detalle .formatos img{
    
    margin: 5px;

}

.libro_detalle .total{
    margin: 20px 0 0 0; 
}

/* FIN LIBRO DETALLE */

.social{
    border:#aaa;
    background: #ddd;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    border-radius: 0.5em;
   /* width:150px;*/
    margin-top: 30px;
    vertical-align: middle;
}

.zebra {
        
	background-color:#ccc;
}

.zebra1 {
    font-size: 11px;
}

.celda1 td {
    border-widht:1px;
    border-color: #ccc;
    border-style: solid;
}
.enlaceboton {    font-family: verdana, arial, sans-serif;
    border-width: 3;
    font-size: 8pt;
    font-family: arial;
    display:inline;
    text-decoration: none;
    width:50px;
    background-color: #c4c4c4;
    padding: 5px;
}

.totalapagar{
    font-size: 14px !important;
    background-color: #dddddd;
}


#mediospago .proveedor{
    float:left;
    margin: 10px;
    padding:10px;
    border: #CCCCCC solid thin ;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.stepcarousel{
float:right;
position: relative; /*leave this value alone*/
border: 0;
overflow: scroll; /*leave this value alone*/
width: 140px; /*Width of Carousel Viewer itself*/
height: 200px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 10px; /*margin around each panel*/
width: 140px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}


.envioFisico{
    display: inline-table;
}
.ocultarenvioFisico{
    display: none;
}

.medioPago{
    float:left;
}

.sigloinfo{
    width: 205px;
    float:right;
    padding:5px;
    background: #fff;
    font-size: 12px;
    margin: -10px 0 5px 0;
    border-color: #eee;
    border-width: 1px;
    border-style: solid
}
.sigloinfo h2{
    font-size: 12px;
    color:  #900;
}

.sigloinfo p{
    margin: 0;
}

.sigloinfo .pbx{
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px 0;
    text-shadow: 2px 2px #ccc;
}

.sigloinfo .bannerayuda{
    
    width: 100%;
    height: 75px;
    text-align: left;
    border: 1px 0 0 0 solid #333;
}

.selectmoneda{
    float:right;
    width: 400px;
    height:50px;
    margin: 10px 5px -20px 0;
    font-size: 12px;
}

.selectmoneda select{
    margin: 0 0 0 5px;
    font-size: 10px;
}